<a href="https://colab.research.google.com/github/AI-fanatic24/ASD-DS-AI-ML-Internship/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

Q1. Create a Pandas Series using a list of 5 fruits. Print the 3rd fruit using index.

In [ ]:
lst = ['apple','orange','guava','litchi','mango']
series = pd.Series(lst)
print(series)
print()
print("Third fruit in the series:")
print(series[2])

0     apple
1    orange
2     guava
3    litchi
4     mango
dtype: object

Third fruit in the series:
guava

Q2. You are given a list of student names and their scores. Convert it into a Series and display the score of the student named "Anu".

In [ ]:
students=['Raghav','Anu','Shruti','Anjali','Preeti']
scores=[89,80,77,90,82]
series=pd.Series(scores,index=students)
print(series)
print()
print("Score of Anu:",series['Anu'])

Raghav    89
Anu       80
Shruti    77
Anjali    90
Preeti    82
dtype: int64

Score of Anu: 80

Q3. Create a DataFrame with columns Name, Age, Marks. Display only the Marks column.

In [ ]:
df = pd.DataFrame({'Name':['Raghav','Anu','Shruti','Anjali','Preeti'],'Age':[17,18,18,19,20],'Marks':[89,80,77,90,82]})
print(df)
print()
print("---Marks Column---")
print()
print(df['Marks'])

     Name  Age  Marks
0  Raghav   17     89
1     Anu   18     80
2  Shruti   18     77
3  Anjali   19     90
4  Preeti   20     82

---Marks Column---

0    89
1    80
2    77
3    90
4    82
Name: Marks, dtype: int64

Q4. From a DataFrame of employees with columns Name, Salary, and Department, use .loc to display the salary of the employee named "Raj".

In [ ]:
df=pd.DataFrame({'Name':['Raghav','Anu','Shruti','Anjali','Raj'],'Salary':[80000,40000,30000,60000,20000],'Department':['AI-ML','Data Science','FrontEnd','BackEnd','Robotics Engineer']})
print(df)
print()
print("Salary of Raj:")
print(df.loc[df['Name'] == 'Raj','Salary'])
print()
print("Salary of Raj:")
print(df.loc[4,'Salary'])

     Name  Salary         Department
0  Raghav   80000              AI-ML
1     Anu   40000       Data Science
2  Shruti   30000           FrontEnd
3  Anjali   60000            BackEnd
4     Raj   20000  Robotics Engineer

Salary of Raj:
4    20000
Name: Salary, dtype: int64

Salary of Raj:
20000

Q5. Use .iloc to print the first 3 rows from a DataFrame containing student information.

In [ ]:
df=pd.DataFrame({'Name':['Raghav','Anu','Shruti','Anjali','Preeti'],'Age':[17,18,18,19,20],'Marks':[89,80,77,90,82]})
print("---First three rows of the dataframe---")
print(df.iloc[:3])

---First three rows of the dataframe---
     Name  Age  Marks
0  Raghav   17     89
1     Anu   18     80
2  Shruti   18     77

Q6. Given a DataFrame of customer records, use .at to update the value of a specific cell at row index 2 and column Name.

In [ ]:
df=pd.DataFrame({'Name':['Raghav','Anu','Shruti','Anjali','Preeti'],'Customer_ID':['C100','C101','C102','C103','C104'],'Address':['Kolkata','Mumbai','Delhi','Maharashtra','Kashmir']})
df.head()

     Name Customer_ID      Address
0  Raghav        C100      Kolkata
1     Anu        C101       Mumbai
2  Shruti        C102        Delhi
3  Anjali        C103  Maharashtra
4  Preeti        C104      Kashmir

In [ ]:
df.at[2,'Address'] = 'Rajasthan'
df.head()

     Name Customer_ID      Address
0  Raghav        C100      Kolkata
1     Anu        C101       Mumbai
2  Shruti        C102    Rajasthan
3  Anjali        C103  Maharashtra
4  Preeti        C104      Kashmir

Q7. Create a DataFrame with some NaN values in the Marks column. Replace all NaN values with the average (mean) of the Marks column.

In [ ]:
df=pd.DataFrame({'Name':['Raghav','Anu','Shruti','Anjali','Preeti'],'Age':[17,18,18,19,20],'Marks':[np.nan,80,np.nan,90,82]})
print(df)

     Name  Age  Marks
0  Raghav   17    NaN
1     Anu   18   80.0
2  Shruti   18    NaN
3  Anjali   19   90.0
4  Preeti   20   82.0

In [ ]:
marks_mean = np.mean(df['Marks'])
print("Average marks:")
print(marks_mean)

Average marks:
84.0

In [ ]:
df.fillna(value=df['Marks'].mean(),inplace=True)
print(df)

     Name  Age  Marks
0  Raghav   17   84.0
1     Anu   18   80.0
2  Shruti   18   84.0
3  Anjali   19   90.0
4  Preeti   20   82.0

Q8. Load an Excel file named students.xlsx containing student data. Print the first 5 rows of the file.

In [ ]:
df=pd.read_excel('student.xlsx')
df.head()

    Name   Age  Marks
0   John  18.0     88
1  Clara   NaN     89
2   Judy  19.0     92
3   Alen   NaN     90
4  Jacon  22.0     87

Q9. After loading the Excel file, check and display the rows where the Age column is null using .loc.

In [ ]:
df.loc[df['Age'].isnull()]

    Name  Age  Marks
1  Clara  NaN     89
3   Alen  NaN     90
6    Lea  NaN     91

Q10. Calculate the mean of the Salary column from a DataFrame of employee details.

In [ ]:
df=pd.DataFrame({'Name':['Raghav','Anu','Shruti','Anjali','Raj'],'Salary':[80000,40000,30000,60000,20000],'Department':['AI-ML','Data Science','FrontEnd','BackEnd','Robotics Engineer']})
print("Mean Salary of employees:")
print(df['Salary'].mean())

Mean Salary of employees:
46000.0

Q11. You are given a DataFrame df with missing values in the Score column. Use .loc to fill only those missing values with 75.

In [ ]:
df=pd.DataFrame({'Name':['Raghav','Anu','Shruti','Anjali','Preeti'],'Age':[17,18,18,19,20],'Score':[np.nan,80,np.nan,90,82]})
print(df)

     Name  Age  Score
0  Raghav   17    NaN
1     Anu   18   80.0
2  Shruti   18    NaN
3  Anjali   19   90.0
4  Preeti   20   82.0

In [ ]:
df.loc[df['Score'].isnull(),'Score'] = 75
print(df)

     Name  Age  Score
0  Raghav   17   75.0
1     Anu   18   80.0
2  Shruti   18   75.0
3  Anjali   19   90.0
4  Preeti   20   82.0

Q12. Given a DataFrame df with student grades, use .iloc to print rows 2 to 5 and columns 1 to 3.

In [ ]:
df=pd.DataFrame({'Name':['Raghav','Anu','Shruti','Anjali','Preeti','Rahul','Riya'],'Age':[17,18,18,19,20,18,19],'Department':['CMSA','BMBT','STSA','BAGG','MTMA','EOCA','PLSA'],'Grade':['A','A','B','C','B','B','C'],'Year':[1,1,2,3,3,2,3]})
print(df)
print()
print(df.iloc[2:6,1:4])

     Name  Age Department Grade  Year
0  Raghav   17       CMSA     A     1
1     Anu   18       BMBT     A     1
2  Shruti   18       STSA     B     2
3  Anjali   19       BAGG     C     3
4  Preeti   20       MTMA     B     3
5   Rahul   18       EOCA     B     2
6    Riya   19       PLSA     C     3

   Age Department Grade
2   18       STSA     B
3   19       BAGG     C
4   20       MTMA     B
5   18       EOCA     B

Q13. Use .loc to filter and print all rows where the Age is greater than 20 from a DataFrame.

In [ ]:
df=pd.DataFrame({'Name':['Raghav','Anu','Shruti','Anjali','Preeti'],'Age':[20,19,21,22,18],'Marks':[89,80,77,90,82]})
print("---Students with age greater than 30---")
print(df.loc[df['Age']>20])

---Students with age greater than 30---
     Name  Age  Marks
2  Shruti   21     77
3  Anjali   22     90

Q14. Create a DataFrame from a dictionary of items (Item, Quantity, Price) and calculate the total price for each row using a new column Total = Quantity * Price.

In [ ]:
df=pd.DataFrame({'Item':['Pen','Pencil','Notebook','Ruler','Eraser'],'Quantity':[10,22,14,18,8],'Price':[20,12,40,10,10]})
print(df)

       Item  Quantity  Price
0       Pen        10     20
1    Pencil        22     12
2  Notebook        14     40
3     Ruler        18     10
4    Eraser         8     10

In [ ]:
print("---After adding 'Total' column---")
total = df['Quantity']*df['Price']
df['Total'] = total
print(df)

---After adding 'Total' column---
       Item  Quantity  Price  Total
0       Pen        10     20    200
1    Pencil        22     12    264
2  Notebook        14     40    560
3     Ruler        18     10    180
4    Eraser         8     10     80

Q15. You have a DataFrame of city temperatures. Some values in the Temperature column are missing. Fill them using the average temperature calculated using mean().

In [ ]:
df=pd.DataFrame({'City':['Kolkata','Mumbai','Delhi','Rajasthan','Punjab'],'Temperature in F':[83,np.nan,np.nan,85,84]})
print(df)

        City  Temperature in F
0    Kolkata              83.0
1     Mumbai               NaN
2      Delhi               NaN
3  Rajasthan              85.0
4     Punjab              84.0

In [ ]:
df.fillna(value=df['Temperature in F'].mean(),inplace=True)
print(df)

        City  Temperature in F
0    Kolkata              83.0
1     Mumbai              84.0
2      Delhi              84.0
3  Rajasthan              85.0
4     Punjab              84.0